.menu-button {
  min-width: 150px;
  font-size: 16px;
  padding: 10px;
  background: transparent;
  border: 0px none;
  border-style: solid;
  border-bottom-width: 2px;
}
.menu-button-div {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  border-bottom: 2px solid lightgrey;
  overflow: auto;
  justify-content: space-around;
}
