.menu-button {
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border: 0px none;
  border-style: solid;
  border-bottom-width: 2px;
  font-weight: bold;
  text-shadow: 0px 2px rgb(234, 232, 232);
  margin-left: 5px;
  margin-right: 5px;
}
.menu-button-div {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  border-bottom: 2px solid lightgrey;
  overflow: auto;
  justify-content: space-evenly;
}

.menu-items-div {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 767px) {
  .menu-button {
    font-size: 14px;
  }
  .menu-button-div {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu-button {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
}
