@media only screen and (max-width: 767px) {
  .my-orders {
    display: none;
  }
}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid lightgrey;
}
.heading-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  width: 70vw;
}

.orders-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  width: 10vw;
}

.cart-div {
  height: 4vh;
  width: 4vh;
  margin: 5px;
  background-image: url('https://res.cloudinary.com/dahbfvpdn/image/upload/v1738167403/shopping-cart_vv4g50.png');
  background-size: cover;
}

.cart-quantity-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  position: absolute;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-left: 3vh;
  margin-bottom: 3vh;
}

.cart-quantity {
  margin: auto;
  text-decoration: none;
  font-size: 15px;
}

.logout-button {
  background-color: rgb(49, 161, 213);
  color: white;
  height: 25px;
  width: 75px;
  border: 0px;
  border-radius: 4px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.heading{
  color:black;
}