.login-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:25vh;
}